<!-- _includes/image.html -->
<div class="image-wrapper" >
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
    {% endif %}
        <img src="{{ include.img }}" alt="{{ include.title }}"

	style='
	{% if include.width %} 
	max-width: {{include.width}}px;
	{% endif %}

	{% if include.height %}
	max-height: {{include.height}}px;
	{% endif %}
	'
/>
    {% if include.url %}
    </a>
    {% endif %}
    {% if include.caption %}
        <p class="image-caption">{{ include.caption }}</p>
    {% endif %}
</div>
